body{font-family:Helvetica Neue,Helvetica,Arial,sans-serif;font-size:16px;line-height:26px;font-weight:300;color:#333f62;margin:0;}
img{border:0;}
a{text-decoration:none;color:inherit;font-weight:500;}
a:-webkit-any-link{text-decoration:none;color:inherit;font-weight:500;}
h1{font-size:20px;font-weight:normal;}
.clear{clear:both;}
.clear.small{height:10px;}
.clear.medium{height:20px;}
blockquote{margin:0px 15px;margin-left:15px;padding-left:15px;border-left:2px solid #333f62;}
.title{font-weight:bold;font-size:20px;}
#posts .title{font-size:16px;}
#header{padding-top:10px;background-color:#ebf2f8;width:100%;border-bottom: 2px solid #333f62;}
#headline{width:560px;margin:auto;}
h1#summary{float:left;margin:18px -9px;padding:10px 32px;}
#name{font-weight:bold;}
#nav_bar{max-width: 560px;background-color:#ebf2f8;padding:5px 10px;margin: 0 auto;position: relative;min-height: 120px;}
#nav_bar a{float: left;}
#nav_list{font-size:20px;max-width:560px;margin:auto;padding:4px 10px;float: left;position: absolute;bottom: 1px;left: 135px;}
#nav_list ul{float:left;padding:0;margin:0;}
#nav_list ul li{float:left;list-style:none;margin:0px 20px 0px 0px;}
#nav_list ul li.active{border-bottom:2px solid #333f62;}
#nav_list a{color:inherit;}
#flashnotice{color:green;font-weight:bold;min-height:0;}
.permalink a{color:gray!important;font-size:14px!important;font-weight:normal!important;}
.text_container,#flashnotice,#posts,.post,#updates,.update,.bookmark,.admin_form{margin:auto;max-width:600px;margin-top:25px;}
#timeline{line-height:20px;display:block;margin-top:5px;}
.fancybox-title-inside .permalink{float:right;}
#timeline .bookmark,#timeline .post,#timeline .post-link{padding:20px 10px;line-height:26px;max-width:560px;}
#timeline .post-link { border-bottom: 0; margin: auto; padding: 0px 10px; }
#timeline .post-link .title { margin-bottom: 0px; font-size: 16px; }
#timeline .post-link .link-date { font-size: 14px; }
#timeline img { max-width: 100%; }
.posts_year{font-weight:bold;border-bottom:1px solid #333f62;padding-bottom:14px;}
.post{line-height:28px;}
.post div, .post h2{padding:0px 20px;margin:0px;}
.post .title{padding:0px 20px;margin:12px 0px;}
.post .title a {font-weight: bold;}
.post_body{padding:0px 20px;float:left;}
.post_body a{font-weight:bold;}
#timeline .post div, #timeline .post h2{padding:0;}
#updates{padding-top:20px;}
#footer{padding:10px 0px;text-align:right;height:30px;}
.post .thing-group { padding: 0; font-weight: bold; }
.things ul { list-style: none; padding: 0; margin: 0; }
.things ul li.details span { border-bottom: 1px dotted #333f62; line-height: 20px; }
.header-date{padding:20px 10px 0px 10px;line-height:26px;max-width:560px;margin:auto;border-bottom:1px solid #c3c3c3;}
hr { border: 1px solid #ccc; width: 100px; margin: 30px auto; }
a.gallery_image img { width: 100px; margin: 10px; }
.solo-photo { width: 80%; margin: 10px auto; }
.solo-photo img { width: 100%; }
#photos .photo { float: left; height: 120px; width: 120px; position: relative; margin: 10px; }
#photos .photo img {max-height: 100%;max-width: 100%;width: auto;height: auto;position: absolute;top: 0;bottom: 0;left: 0;right: 0;margin: auto;}
