---
layout: main
title: Andy Brett
---
<div id="timeline">
	{% assign year = "" %}
	{% for post in site.posts %}
    {% if post.type == "post" %}
      {% if forloop.index == 1 %}
        {% include post.html %}
				{% assign year = post.date | date: "%Y" %}
				<div id="more-writing">More writing:</div>
				<div class="clear"></div>
      {% else %}
				{% if year == "" %}
					{% assign year = post.date | date: "%Y" %}
				{% endif %}
				{% assign new_year = post.date | date: "%Y" %}
				{% if year != new_year %}
				  <div class="header-date">{{ new_year }}</div>
					<div class="clear"></div>
					{% assign year = post.date | date: "%Y" %}
				{% endif %}
        {% include post_link.html %}
      {% endif %}
    {% endif %}
  {% endfor %}
</div>
