.bookmark{ padding: 1rem 0;}
.post .date {font-size: smaller; padding: 1rem 0;}
.header-date{border-bottom:1px solid #c3c3c3; font-weight: bold; padding-top: 1rem;}
.permalink a{font-size: smaller;}
.solo-photo { width: 80%; margin: 10px auto; }
.solo-photo img { width: 100%; }
.solo-photo a { cursor: zoom-in; }
#photos .photo { float: left; height: 120px; width: 120px; position: relative; margin: 10px; }
#photos .photo img {max-height: 100%;max-width: 100%;width: auto;height: auto;position: absolute;top: 0;bottom: 0;left: 0;right: 0;margin: auto;}
.sidebar a {
  text-transform: capitalize;
}
@media (min-width: 48em) {
  .sidebar-about {
    padding-bottom: 12rem;
  }
}
