<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<link rel="shortcut icon" type="image/png" href="/favicon.png">
		<meta name="description" content="Home page for Andy Brett"/>
		<meta name="referrer" content="no-referrer">
		<link href="/css/screen.css" media="screen" rel="stylesheet" type="text/css"/>
		<link href="/writing.rss" rel="alternate" title="RSS" type="application/rss+xml"/>
	</head>
	<body>
		<div id='header'>
			<div id='nav_bar'>
				<a href='/'>
					<img alt="Andy Brett" id="profile_pic" src="/images/andy_brett.png"/>
				</a>
				<div id='nav_list'>
					<ul>
						{% if page.title == "Andy Brett | Writing" %}
							<li id='writing' class='active'>
								<a href='/writing'>Writing</a>
							</li>
						{% else %}
							<li id='writing'>
								<a href='/writing'>Writing</a>
							</li>
						{% endif %}
						<li id='reading'>
							<a href='https://getpocket.com/@andrewpbrett' target='_blank'>Reading</a>
						</li>
						{% if page.title == "Andy Brett | Photos" %}
						<li id='photos' class='active'>
							<a href='/photos'>Photos</a>
						</li>
						{% else %}
							<li id='photos'>
								<a href='/photos'>Photos</a>
							</li>
						{% endif %}
						{% if page.title == "Andy Brett | Projects" %}
							<li id='projects' class='active'>
								<a href='/projects'>Projects</a>
							</li>
						{% else %}
							<li id='projects'>
								<a href='/projects'>Projects</a>
							</li>
						{% endif %}
					</ul>
				</div>
				<div class='clear'></div>
			</div>
		</div>
