<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<link rel="shortcut icon" type="image/png" href="/favicon.png">
		<meta name="google-site-verification" content="dPYG0gqQlcAXqTFAg8nZpvV-7wx51ZRc5D096cVHw7c"/>
		<meta name="verify-v1" content="GACJqKSgAOuYP5m5PFvn0joQ93sv9TkbfyKQUM4quXk="/>
		<meta name="description" content="Home page for Andy Brett, a writer, engineer, and athlete"/>
		<link href="/css/screen.css" media="screen" rel="stylesheet" type="text/css"/>
		<link href="/writing.rss" rel="alternate" title="RSS" type="application/rss+xml"/>
	</head>
	<body>
		<div id='header'>
			<div id='headline'>
				<a href='/'>
					<img alt="Andy Brett" id="profile_pic" src="/images/andy_brett.png"/>
				</a>
				<h1 id='summary'>
					<span id='name'><a href='/'>Andy Brett</a></span>
					is an engineer, writer, and athlete
				</h1>
			</div>
			<div class='clear'></div>
		</div>
		<div id='nav_bar'>
			<div id='nav_list'>
				<ul>
					{% if page.title == "Andy Brett | Writing" %}
						<li id='writing' class='active'>
							<a href='/writing'>Writing</a>
						</li>
					{% else %}
						<li id='writing'>
							<a href='/writing'>Writing</a>
						</li>					
					{% endif %}
					<li id='photos'>
						<a href='http://instagram.com/andrewpbrett' target='_blank'>Photos</a>
					</li>					
					{% if page.title == "Andy Brett | Projects" %}
						<li id='projects' class='active'>
							<a href='/projects'>Projects</a>
						</li>
					{% else %}
						<li id='projects'>
							<a href='/projects'>Projects</a>
						</li>					
					{% endif %}
				</ul>
			</div>
			<div class='clear'></div>
		</div>
