<div class="post">
	{% if post == null %}

		<h2 class="title">{{ page.title }}</h2>
		<div class="clear"></div>
		<div class="date">{{ page.date | date: "%B %Y" }}</div>

		<div class="post_body">

			{{ content }}

		</div>

	{% else %}

		<h2 class="title"><a href="{{ post.id }}">{{ post.title }}</a></h2>
		<div class="clear"></div>
		<div class="date">{{ post.date | date: "%B %Y" }}</div>

		<div class="post_body">

			{{ post.content }}

		</div>

	{% endif %}
	<div class="clear"></div>
</div>
